body {
    background-color: #ffefef;
}
table.photos {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

}
table.photos td, table.photos th {
    border: 1px solid fuchsia;
    text-align: center;
}
table.photos th {
    background: #ffbbbb;
}
table.photos tr.mainrow {
    border-top: 3px double fuchsia;
}
.header {
    width: 100%;
    height: 75px;
    background-color: plum;
    color: darkmagenta;
    border: 3px double fuchsia;
    padding-top:30px;
    font-size: 30pt;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}
.formattip {
    color: cornflowerblue;
    font-size: 0.75em;
}
.identifier {
    background-color: #ffcccc;
}

.submitbutton {
    background: darksalmon;
    color: white;
}
.submitbutton:hover {
    background: lightsalmon;
}
.submitbutton:active {
    background: salmon;
}
a {
    color: tomato;
}
a:visited {
    color: darkred;
}
.monument-name {
    font-size: 0.75em;
}
